<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each do |member| %>
<h2>Hero Name: <%= member[:name] %></h2>
<p>Hero Power: <%= member[:power] %></p>
<p>Hero Biography: <%= member[:biography] %></p>
<%end%>